<h3>Tried to import <%= @localization_factory.localizations.size %> localizations</h3>
<h4><%= @localization_factory.valid_localizations.size %> valid localizations were imported</h4>
<p><%= @localization_factory.invalid_localizations.size %> invalid localizations were not imported due to errors</p>